:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 335px;
    border-right: none;
    background: #732939;
}

mat-drawer-content{
    background: #732939;
}

mat-drawer-container{
    height: 100%;
    width: 100%;
    background: #732939;
}

.content{
    margin-right: 35px;
    display: flex;
    border-radius: 10px;
    background: #F4E9E9;

}
