<mat-card class="reactions-container">
  <div class="emojis-reaction">
    <button mat-icon-button>
      <img
        src="../../../../../assets/img/FaceWithTearsOfJoy.png"
        width="30"
        height="30"
      />
    </button>
    <button mat-icon-button>
      <img
        src="../../../../../assets/img/HushedFace.png"
        width="30"
        height="30"
      />
    </button>
    <button mat-icon-button>
      <img
        src="../../../../../assets/img/SmilingFaceWithHeartEyes.png"
        width="30"
        height="30"
      />
    </button>
    <button mat-icon-button>
      <img
        src="../../../../../assets/img/RaisingHands.png"
        width="30"
        height="30"
      />
    </button>
    <button mat-icon-button click="addReaction(ReactionType.Like)">
      <img
        src="../../../../../assets/img/ThumbsUp.png"
        width="30"
        height="30"
      />
      <mat-icon
        matBadge="{{ Likes.length }}"
        matBadgeColor="accent"
        matBadgeSize="medium"
        [matBadgeHidden]="Likes.length === 0"
        aria-label="Like"
      ></mat-icon>
    </button>
    <button mat-icon-button>
      <img
        src="../../../../../assets/img/ThumbsDown.png"
        width="30"
        height="30"
      />
    </button>
  </div>
  <div class="separator"></div>
  <div class="buttons-reatcions">
    <button mat-button>
      <mat-icon>comment</mat-icon>
      <span class="buton-label"> Comment</span>
    </button>
    <button mat-button>
      <mat-icon>video_call</mat-icon>
      <span class="buton-label"> Record a comment</span>
    </button>
  </div>
</mat-card>
