mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #732939;
    height: 115px;
    justify-content: center;
}
mat-sidenav {
    height: 50vh;
    width: 15vw;
    border-right: none;
    background: #B6445D;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}
button{
    border: 0;
    outline: none;
    background: transparent;
}

.user{
    font-size: 0.8rem;
}

.user-image{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 3px solid #FB6D3A;;
}

.additional-icons{
    margin-left: auto;
    margin-right: 5px;
}

.workspace-button{
    float: left;
    width: 100%;
    border-radius: 8px;
    border: none;
    background: #FB6D3A;
    color: white;
    height: 36px;
    text-align: center;
}