<mat-toolbar>
  <mat-toolbar-row>
    <div class="additional-icons">
      <button mat-icon-button>
        <mat-icon svgIcon="search"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="bell"></mat-icon>
      </button>
      <button
        mat-button
        class="user-avatar-button"
        (contextmenu)="onContextMenu($event)"
        [matMenuTriggerFor]="contextMenu"
      >
        <img
          src="../../assets/icons/test-user-logo.png"
          alt="UserAvatar"
          class="user-image"
        />
      </button>
      <mat-menu #contextMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onLogOut()">Log out</button>
      </mat-menu>
      <!-- <div
        style="visibility: hidden; position: fixed"
        [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y"
        [matMenuTriggerFor]="contextMenu"
      ></div>
      <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="onLogOut()">Log out</button>
        </ng-template>
      </mat-menu> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
