<mat-toolbar>
    <mat-toolbar-row >
        <div class="additional-icons">
            <button  mat-icon-button> 
                <mat-icon svgIcon="search"></mat-icon>
            </button>
            <button  mat-icon-button> 
                <mat-icon svgIcon="bell"></mat-icon>
            </button>
            <button mat-button class="user" (click)="toggleUserPersonalPanel()">
                <img src="../../assets/icons/test-user-logo.png" alt="UserAvatar" class="user-image">
            </button>
        </div>       
    </mat-toolbar-row>
    <mat-sidenav *ngIf="isUserPanelOpen; else closed" mode="over" opened position="end">
        <img src="../../assets/icons/test-user-logo.png" alt="UserAvatar" class="user-image">
        <p>{{this.user.workspaceName}}</p>
        <button mat-button class="workspace-button" (click)="toggleUserPersonalPanel()">Close</button>
    </mat-sidenav>
    <ng-template #closed>
        <mat-sidenav mode="over" position="end"></mat-sidenav>
    </ng-template>
</mat-toolbar>
