<div class="registration-container">
    <img src="../../../../assets/icons/logo.svg" alt="logo" />
    <div class="to-login-container">
        <h2>Create an account</h2>
        <p class="already-registered">Already registered? <span>Log in</span></p>
    </div>
    <form class="registration-form" [formGroup]="registerForm" action="">
        <p class="input-label">Full Name</p>
        <mat-form-field class="input-form" appearance="fill" color="warn" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Enter your name</mat-label>
            <input matInput placeholder="Name" formControlName="fullName" required>
        </mat-form-field>
        <p class="input-label">Email</p>
        <mat-form-field class="input-form" appearance="fill" color="warn" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Enter your Email</mat-label>
            <input type="email" matInput placeholder="user@gmail.com" formControlName="email" required>
        </mat-form-field>
        <p class="input-label">Password</p>
        <mat-form-field class="input-form" appearance="fill" color="warn" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Enter your password</mat-label>
            <input [type]="hidePass ? 'password' : 'text'" matInput minlength="8" placeholder="password"
                formControlName="password" required>
            <mat-icon class="password-icon" matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' :
                'visibility_off'}}
            </mat-icon>
        </mat-form-field>
        <p class="input-label">Repeat Password</p>
        <mat-form-field class="input-form" appearance="fill" color="warn" floatLabel="always" hideRequiredMarker="true">
            <mat-label>Repeat your password</mat-label>
            <input [type]="hideConfirmPass ? 'password' : 'text'" matInput placeholder="password"
                formControlName="confirmPassword" required>
            <mat-icon class="password-icon" matSuffix (click)="hideConfirmPass = !hideConfirmPass">{{hideConfirmPass ?
                'visibility' :
                'visibility_off'}}
            </mat-icon>
        </mat-form-field>
        <div class="registation-buttons">
            <button class="submit-button" mat-button type="submit" [disabled]="!registerForm.valid">Sign
                Up</button>
            <p>
                Or sign up with
            </p>
            <button class="login-with-button">
                <img src="../../../../assets/icons/googleButton.svg" alt="google">
            </button>
            <button class="login-with-button">
                <img src="../../../../assets/icons/facebookButton.svg" alt="facebook">
            </button>
        </div>
    </form>
</div>