mat-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mat-list > * {
  flex: 0 0 33.33%;
}

mat-list-item {
  justify-content: center;
  height: 370px;
  max-width: 340px;
  color: black;
  background: white;
  border-radius: 10px;
  margin-right: auto;
  margin-bottom: 15px;
  border: 2px solid white;
}

mat-list-item:hover {
  border: 2px solid #fb6d3a;
}

mat-list-item:nth-child(3) {
  margin-right: 0px;
}

.mat-line {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.screenshot-image {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}

.item-avatar {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.details {
  float: right;
  margin-left: auto;
}

.item-photo {
  img {
    margin-bottom: 10px;
  }
}

.item-header {
  width: 100%;
  height: 45px;
}

.item-name {
  p {
    display: inline;
    font-size: 1rem;
    font-weight: 900;
  }
}

.item-footer {
  font-size: 0.8rem;
  color: grey;
  align-items: center;
  justify-content: center;
}

.footer-date {
  float: left;
  margin-top: 10px;
}

.footer-icons {
  float: right;
}

.personal-page-header {
  width: 100%;
  height: 100px;
}

.page-header-text {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}
.page-header-username {
  font-size: 1.2rem;
  color: grey;
}

.page-heeader-library-name {
  font-size: 1.8rem;
  font-weight: 900;
}

.page-header-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.header-links-left {
  float: left;
  button {
    margin-right: 10px;
    border-radius: 0px;
    &:hover {
      border-bottom: 2px solid #fb6d3a;
    }
  }
}

.header-links-right {
  float: right;
  margin-left: auto;
  button {
    margin-left: 10px;
    border-radius: 8px;
  }
}

.item-name{
    p{
        display: inline;
        font-size: 1rem;
        font-weight: 900;
    }
}


.item-footer{
        font-size: 0.8rem;
        color: grey;
        align-items: center;
        justify-content: center;        
}

.footer-date{
    float: left;
    margin-top: 10px;
}

.footer-icons{
    float: right;
}

.personal-page-header{
    width: 100%;
    height: 100px;
}

.page-header-logo{
    float: left;
    img{
        width: 95px;
        height: 95px;
        border-radius: 50%;
        border: 3px solid #FB6D3A;
    }
}

.page-header-text{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
.page-header-username{
    font-size: 1.2rem;
    color: grey;
}

.page-heeader-library-name{
    font-size: 1.8rem;
    font-weight:900;

}

.page-header-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-links-left{
    float: left;
    button{
        border-bottom:2px solid #F4E9E9;
        margin-right: 10px;
        border-radius: 0px;
        &:hover{border-bottom:2px solid #FB6D3A;}
    }
}

.header-links-right{
    float: right;
    margin-left: auto;
    button{
        margin-left: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 8px;
    }
    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle{
      border-left: none;
    }
    .mat-button-toggle-checked{
      border-bottom:3px solid #FB6D3A;
      mat-icon{
        filter: brightness(0%);
      }
    }
    .view-toggle-group{
      border: none;
      margin-right: 10px;
      mat-button-toggle{
        background-color: #f4e9e9;
        margin-right: 10px;
        mat-icon{
          height: 15px;
          width: 15px;
        }
      }
    }
}

button{
    padding: 0;
    margin: 0;
    border: none;
    font-weight: bold;
}

.button-new-video{
    color: white;
    background: #FB6D3A;
    border:1px solid #FB6D3A;
}

.button-new-folder{
    color: black;
    background: #F4E9E9;
    border:1px solid #FB6D3A;
}

.button-export{
    background: #E0D8D7;
    color: #989898;
    border:1px solid #E0D8D7;
}
    
