<div class="personal-page-header">
  <app-avatar [src]="src" [size]="96"></app-avatar>
  <div class="page-header-text">
    <p class="page-header-username">{{this.currentUser.workspaceName}}</p>
    <p class="page-heeader-library-name">Personal library</p>
  </div>
</div>
<div class="page-header-links">
  <div class="header-links-left">
    <button class="videos-button" mat-button>Videos</button>
    <button [disabled]="true" class="screenshots-button">Screenshots</button>
  </div>
  <div class="header-links-right">
    <button mat-button class="button-outlined" (click)="showNewFolderForm()" >New Folder</button>
    <button mat-button class="button-accent">New Video</button>
  </div>
</div>
<h2>Folders</h2>
<mat-card class="folder-form-container" *ngIf="isFolderFormShow" >
  <div class="folder-form" [formGroup]="folderForm" (keydown.enter)="createFolder()">
    <mat-form-field class="input-form" appearance="legacy" color="warn" floatLabel="never" hideRequiredMarker="true">
      <input matInput placeholder="Enter a folder title"  formControlName="name">
    </mat-form-field>
  </div>
</mat-card>

<mat-list>
  <mat-list-item>
    <div matLine class="item-header">
      <img
        src="../../assets/icons/test-user-logo.png"
        alt="avatar"
        class="item-avatar"
      />
      <button mat-icon-button class="details">
        <mat-icon svgIcon="details"></mat-icon>
      </button>
    </div>
    <div matLine class="item-photo">
      <img
        src="../../assets/icons/screenshot.png"
        alt="screenshot"
        class="screenshot-image"
      />
    </div>
    <div matLine class="item-name">
      <p>Screenshot name Screenshot name Screenshot name</p>
    </div>
    <div matLine class="item-footer">
      <span class="footer-date"> 6 days ago </span>
      <div class="footer-icons">
        <button mat-icon-button>
          <mat-icon svgIcon="star"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share-link"></mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div matLine class="item-header">
      <img
        src="../../assets/icons/test-user-logo.png"
        alt="avatar"
        class="item-avatar"
      />
      <button mat-icon-button class="details">
        <mat-icon svgIcon="details"></mat-icon>
      </button>
    </div>
    <div matLine class="item-photo">
      <img
        src="../../assets/icons/screenshot.png"
        alt="screenshot"
        class="screenshot-image"
      />
    </div>
    <div matLine class="item-name">
      <p>Screenshot name Screenshot name Screenshot name</p>
    </div>
    <div matLine class="item-footer">
      <span class="footer-date"> 6 days ago </span>
      <div class="footer-icons">
        <button mat-icon-button>
          <mat-icon svgIcon="star"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share-link"></mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matLine class="item-header">
      <img
        src="../../assets/icons/test-user-logo.png"
        alt="avatar"
        class="item-avatar"
      />
      <button mat-icon-button class="details">
        <mat-icon svgIcon="details"></mat-icon>
      </button>
    </div>
    <div matLine class="item-photo">
      <img
        src="../../assets/icons/screenshot.png"
        alt="screenshot"
        class="screenshot-image"
      />
    </div>
    <div matLine class="item-name">
      <p>Screenshot name Screenshot name Screenshot name</p>
    </div>
    <div matLine class="item-footer">
      <span class="footer-date"> 6 days ago </span>
      <div class="footer-icons">
        <button mat-icon-button>
          <mat-icon svgIcon="star"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share-link"></mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div matLine class="item-header">
      <img
        src="../../assets/icons/test-user-logo.png"
        alt="avatar"
        class="item-avatar"
      />
      <button mat-icon-button class="details">
        <mat-icon svgIcon="details"></mat-icon>
      </button>
    </div>
    <div matLine class="item-photo">
      <img
        src="../../assets/icons/screenshot.png"
        alt="screenshot"
        class="screenshot-image"
      />
    </div>
    <div matLine class="item-name">
      <p>Screenshot name Screenshot name Screenshot name</p>
    </div>
    <div matLine class="item-footer">
      <span class="footer-date"> 6 days ago </span>
      <div class="footer-icons">
        <button mat-icon-button>
          <mat-icon svgIcon="star"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon svgIcon="share-link"></mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
