/* You can add global styles to this file, and also import other style files */

@import '~@vime/core/themes/default.css';

@import '~@vime/core/themes/light.css';

html,
body {
  height: 100%;
  margin: 0;
  button{
     &:hover{
       cursor:pointer
      }
  }
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.input-form .mat-form-field-wrapper .mat-form-field-flex {
    background-color: white;
    padding: 0 .75em 0 .75em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}

.button-accent {
  color: white;
  background: #fb6d3a;
  border: 1px solid #fb6d3a !important;
}

.button-outlined {
  color: black;
  background: #f4e9e9;
  border: 1px solid #fb6d3a !important;
}

.button-disabled {
  background: #e0d8d7;
  color: #989898;
  border: 1px solid #e0d8d7 !important;
}

.w-100 {
  width: 100%;
}

